In [1]:
#%matplotlib inline
import numpy as np
import pandas as pd
import seaborn; seaborn.set()
from pathlib import Path
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15,6
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.arima_model import ARIMA

In [2]:
initial_df = pd.read_csv('Resources/BTC-USD.csv')
initial_df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,12/2/2016,757.544983,781.296021,757.544983,777.943970,777.943970,127605000.0
1,12/3/2016,778.247986,778.247986,764.856018,771.155029,771.155029,69547296.0
2,12/4/2016,771.638000,773.872009,768.161011,773.872009,773.872009,60557900.0
3,12/5/2016,773.393982,773.468018,751.713013,758.700012,758.700012,106363000.0
4,12/6/2016,758.719971,765.622009,758.719971,764.223999,764.223999,116218000.0

In [ ]:
data = pd.read_csv("../input/bitcoin_price_Training - Training.csv")
print(data.head(5))
print(data.tail(5))
data.dtypes
data.info()
data.describe()