In [8]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [9]:
initial_df = pd.read_csv('Resources/BTC_2016-2021.csv')
initial_df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,12/2/2016,757.544983,781.296021,757.544983,777.943970,777.943970,127605000.0
1,12/3/2016,778.247986,778.247986,764.856018,771.155029,771.155029,69547296.0
2,12/4/2016,771.638000,773.872009,768.161011,773.872009,773.872009,60557900.0
3,12/5/2016,773.393982,773.468018,751.713013,758.700012,758.700012,106363000.0
4,12/6/2016,758.719971,765.622009,758.719971,764.223999,764.223999,116218000.0

In [19]:
trade_df2 = initial_df.drop(columns=["High", "Low", "Adj Close","Volume"])
trade_df2

            Date          Open         Close
0      12/2/2016    757.544983    777.943970
1      12/3/2016    778.247986    771.155029
2      12/4/2016    771.638000    773.872009
3      12/5/2016    773.393982    758.700012
4      12/6/2016    758.719971    764.223999
...          ...           ...           ...
1822  11/28/2021  54813.023440  57248.457030
1823  11/29/2021  57291.906250  57806.566410
1824  11/30/2021  57830.113280  57005.425780
1825   12/1/2021  56907.964840  57229.828130
1826   12/2/2021  57217.371090  56477.816410

[1827 rows x 3 columns]