In [10]:
import pandas as pd

In [28]:
bitcoin_df = pd.read_csv('Resources/BTC-USD.csv')
ethereum_df = pd.read_csv('Resources/ETH-USD.csv')
litecoin_df = pd.read_csv('Resources/LTC-USD.csv')
xrp_df = pd.read_csv('Resources/XRP-USD.csv')

In [23]:
xrp_df.shape

(1827, 8)

In [24]:
ethereum_df.shape

(1827, 8)

In [25]:
litecoin_df.shape

(1827, 8)

In [26]:
bitcoin_df.shape

(1827, 8)

In [29]:
merge_df = pd.concat([bitcoin_df,ethereum_df,litecoin_df,xrp_df]).reset_index(drop=True)
merge_df.head()

,Type,Date,Open,High,Low,Close,Adj Close,Volume
0,BTC,12/2/2016,757.544983,781.296021,757.544983,777.943970,777.943970,127605000.0
1,BTC,12/3/2016,778.247986,778.247986,764.856018,771.155029,771.155029,69547296.0
2,BTC,12/4/2016,771.638000,773.872009,768.161011,773.872009,773.872009,60557900.0
3,BTC,12/5/2016,773.393982,773.468018,751.713013,758.700012,758.700012,106363000.0
4,BTC,12/6/2016,758.719971,765.622009,758.719971,764.223999,764.223999,116218000.0

In [30]:
merge_df.shape

(7308, 8)

In [31]:
merge_df.to_csv("crypto_merged.csv", index=False)